<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active': '' %>" href="/">Events</a></li>
            <li class="main-header__item"><a class="<%= path === '/add-event' ? 'active': '' %>" href="/add-event">Add Event</a></li>
        </ul>
    </nav>
</header>